@import url("./styles.css");

/* banner */
.banner {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  align-items: center;
}
.banner-text {
  width: 50vw;
  height: 20vh;
  position: absolute;
  top: 40vh;
  left: 25vw;
}
/* projects */
.projects {
  padding: 8vw;
}
.projects .row {
  justify-content: space-between;
}
.project-link {
  text-decoration: none;
  border: none;
}
.card {
  border-radius: 8px;
  border: 1px solid var(--dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ext-links {
  display: flex;
  justify-content: right;
  border: none;
}
.ext-links a:hover {
  color: var(--dark-purple);
}
.card .footer {
  align-items: center;
}
span {
  letter-spacing: 1px;
}
#project-1 span {
  background-color: #fc646c !important;
}
#project-2 span {
  background-color: #6d55ff !important;
}
#project-3 span {
  background-color: gray !important;
}
#project-4 span {
  background-color: #fcb664 !important;
}
/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* creds https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--cursorcolor); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  max-width: max-content;
  font-size: 1rem !important;
  letter-spacing: 0.1em;
  animation-name: typing;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes delete {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
/* typewriter blinkint effect */
/* @keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--cursorcolor);
  }
} */
